*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: hsl(27, 66%, 92%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}
.card {
  margin: auto;
  padding: auto;
}
.card__heading {
  background-color: hsl(10, 79%, 65%);
  padding: 1rem;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8rem;
  .balance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      font-size: 1.05ch;
      line-height: 2;
    }
    h3 {
      font-weight: 600;
    }
  }

  .circles {
    display: flex;
    padding-right: 10px;
    span {
      display: block;
      width: 1.8em;
      height: 1.8em;
      border-radius: 50%;
    }
    span:first-child {
      border: 1px solid #fff;
      background: transparent;
      z-index: 2;
    }
    span:last-child {
      background-color: hsl(25, 47%, 15%);
      transform: translateX(-0.7em);
    }
  }
}

.card__body {
  background-color: #fff;
  border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;

  @media screen and (min-width: 500px) {
    padding: 1.5rem;
  }

  .chart__container {
    padding: 1rem 0;
    display: flex;
    align-items: flex-end;
    width: 100%;

    .bar__group {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      cursor: pointer;
      .bar {
        background: hsl(10, 79%, 65%);
        border-radius: 5px;
        width: 75%;
      }
      .bar__value {
        font-size: 0.6em;
        background-color: hsl(25, 47%, 15%);
        color: hsl(27, 66%, 92%);
        margin-bottom: 5px;
        padding: 10px 5px;
        border-radius: 5px;
        opacity: 0;
      }
      .bar__label {
        color: hsl(28, 10%, 53%);
        font-size: 0.6em;
        margin-top: 5px;
      }
      .bar.current {
        background-color: hsl(186, 34%, 60%);
      }
      &:hover,
      &:active,
      &.active {
        .bar__value {
          opacity: 1;
        }
        .bar {
          filter: brightness(1.2);
        }
      }
    }
  }
  h3 {
    color: hsl(25, 47%, 15%);
  }
}

.card__footer {
  border-top: 1px solid hsl(28, 10%, 53%);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  p {
    font-size: 12px;
    color: hsl(28, 10%, 53%);
  }

  .rise {
    text-align: right;
  }
}
