*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #f8e9dd;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  margin: auto;
  padding: auto;
}

.card__heading {
  background-color: #ec775f;
  padding: 1rem;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.8rem;
}

.card__heading .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__heading .balance span {
  font-size: 1.05ch;
  line-height: 2;
}

.card__heading .balance h3 {
  font-weight: 600;
}

.card__heading .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.card__heading .circles span {
  display: block;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
}

.card__heading .circles span:first-child {
  border: 1px solid #fff;
  background: transparent;
  z-index: 2;
}

.card__heading .circles span:last-child {
  background-color: #382314;
  -webkit-transform: translateX(-0.7em);
          transform: translateX(-0.7em);
}

.card__body {
  background-color: #fff;
  border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;
}

@media screen and (min-width: 500px) {
  .card__body {
    padding: 1.5rem;
  }
}

.card__body .chart__container {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.card__body .chart__container .bar__group {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

.card__body .chart__container .bar__group .bar {
  background: #ec775f;
  border-radius: 5px;
  width: 75%;
}

.card__body .chart__container .bar__group .bar__value {
  font-size: 0.6em;
  background-color: #382314;
  color: #f8e9dd;
  margin-bottom: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  opacity: 0;
}

.card__body .chart__container .bar__group .bar__label {
  color: #93867b;
  font-size: 0.6em;
  margin-top: 5px;
}

.card__body .chart__container .bar__group .bar.current {
  background-color: #76b5bc;
}

.card__body .chart__container .bar__group:hover .bar__value, .card__body .chart__container .bar__group:active .bar__value, .card__body .chart__container .bar__group.active .bar__value {
  opacity: 1;
}

.card__body .chart__container .bar__group:hover .bar, .card__body .chart__container .bar__group:active .bar, .card__body .chart__container .bar__group.active .bar {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.card__body h3 {
  color: #382314;
}

.card__footer {
  border-top: 1px solid #93867b;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
}

.card__footer p {
  font-size: 12px;
  color: #93867b;
}

.card__footer .rise {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */